# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/
.idea/

# Tensorboard Runs
runs/
trials/

# Pytorch models
/models
*.pt

# Job logs
/reed_job_temp
/ist_job_temp
/reed_job_temp_summary
/ist_job_temp_summary
/job_outputs

# Recording
/recording

# Archived folders
/archived_notebooks
/archived_scripts
